@inherits LayoutComponentBase

<PageTitle>ForumUI</PageTitle>

<div class="page">


    <main>
       <div>
           <LoginDispaly/>
       </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
